<div class="container-fluid">
    <div class="row header">
      <a routerLink="/roomsdetails"> <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a>
     
      <h5>Your Loan application</h5>
        
      <a routerLink="/lastconformation" class="ml-auto"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a>
     
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-12 border p-5">
        <form>
          <div class="form-group d-flex">
            <label>Check if below is correct :</label>
           <span class="ml-auto">
              <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
              <label for="vehicle1"> YES</label>
              &nbsp;&nbsp;
              <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
              <label for="vehicle1"> NO</label>
            </span>
          </div>
          <div class="form-group">
            <textarea>My name is shubhash, I have applied for < product with bank name >, My date of birth is < DOB >, My address is < address >, My father/mother/spouse name is < relation name >.
            </textarea>
          </div>
          <small>*if no then ask him to fill the form again and make the corrections.
          </small>
          <hr>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Next</button>
          </div>
        </form>
      </div>
    </div>
    
  </div>