<div class="container-fluid">
  <div class="row header">
    <a routerLink="/"> <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a>

    <h5>Your Loan application</h5>
      
    <a routerLink="/informationform" class="ml-auto"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a>
   
  </div>
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-12 border p-5">
      <form>
        <div class="form-group">
          <label>Is your Name :</label> &nbsp; MR.Shubhash
         <span class="float-right">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
            <label for="vehicle1"> YES</label>
            &nbsp;&nbsp;
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
            <label for="vehicle1"> NO</label>
          </span>
        </div>
        <div class="form-group">
          <label>Is your Date of Birth :</label>
          <span class="float-right">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
            <label for="vehicle1"> YES</label>
            &nbsp;&nbsp;
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
            <label for="vehicle1"> NO</label>
          </span>
        </div>
        <div class="form-group">
          <label>Is your Father Name :</label>
          <span class="float-right">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
            <label for="vehicle1"> YES</label>
            &nbsp;&nbsp;
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
            <label for="vehicle1"> NO</label>
          </span>
        </div>
        <div class="form-group">
          <label>Is your House Address :</label>
          <span class="float-right">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
            <label for="vehicle1"> YES</label>
            &nbsp;&nbsp;
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
            <label for="vehicle1"> NO</label>
          </span>
        </div>
        <div class="form-group">
          <label>Did you apply for :</label>
          <span class="float-right">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
            <label for="vehicle1"> YES</label>
            &nbsp;&nbsp;
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
            <label for="vehicle1"> NO</label>
          </span>
        </div>
        <hr>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Next</button>
        </div>
      </form>
    </div>
  </div>
  
</div>